scratch/IDE_ide_210604_mg_analise_car_veg_2025_ap_pol.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:IDE="http://meioambiente.mg.gov.br" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://meioambiente.mg.gov.br">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://geoserver.meioambiente.mg.gov.br/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="ide_210604_mg_analise_car_veg_2025_ap_polType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="fid" nillable="false" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="classe_" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:MultiSurfacePropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ide_210604_mg_analise_car_veg_2025_ap_pol" substitutionGroup="gml:AbstractFeature" type="IDE:ide_210604_mg_analise_car_veg_2025_ap_polType"/>
</xsd:schema>
